body {

    background: var(--bg);

    color: var(--text);

    font-family: var(--body-font);

    overflow-x: hidden;

    position: relative;

}

#app {

    position: relative;

    z-index: 10;

}